$px-bs_container_borderSize:0px;
$color_container_borderColor:#134361;
$px-rs_container_borderRadius:5px;
$bool_container_useBoxShadow:false;
$color_dot_defaultColor:#26aee4;
$color_dot_activeColor:#000000;
$bool_arrows_useinnerArrow:true;
$px-mop_arrows_arrowsMargin:10px;