@charset "UTF-8";
.footer {
  height: 98px;
  line-height: 98px;
  font-family: "微软雅黑", SimHei, Verdana, sans-serif; }
  .footer .lwrap {
    float: left; }
    .footer .lwrap .openURL {
      font-size: 16px;
      height: 30px;
      line-height: 30px;
      display: inline-block;
      margin: 29px 67px 0 0;
      color: #000; }
      .footer .lwrap .openURL .icon-openURL {
        display: inline-block;
        width: 38px;
        height: 30px;
        background: url("./images/icon.png") no-repeat -97px 0;
        vertical-align: middle;
        margin-right: 15px; }
  .footer .rwrap {
    float: right; }
    .footer .rwrap .weixin {
      position: relative;
      font-size: 16px;
      height: 30px;
      line-height: 30px;
      display: inline-block;
      margin: 29px 67px 0 0;
      color: #000; }
      .footer .rwrap .weixin .QRcode {
        position: absolute;
        top: -178px;
        left: -40px;
        width: 181px;
        height: 187px;
        display: none;
        background: url("./images/icon.png") no-repeat -169px -113px; }
      .footer .rwrap .weixin .icon-weixin {
        display: inline-block;
        width: 38px;
        height: 30px;
        background: url("./images/icon.png") no-repeat -97px -35px;
        vertical-align: middle;
        margin-right: 15px; }
      .footer .rwrap .weixin:hover .QRcode {
        display: block; }
      .footer .rwrap .weixin:hover .icon-weixin {
        background: url("./images/icon.png") no-repeat -97px -160px; }
    .footer .rwrap .weibo {
      font-size: 16px;
      height: 30px;
      line-height: 30px;
      display: inline-block;
      margin: 29px 67px 0 0;
      color: #000; }
      .footer .rwrap .weibo .icon-weibo {
        display: inline-block;
        width: 38px;
        height: 30px;
        background: url("./images/icon.png") no-repeat -96px -75px;
        vertical-align: middle;
        margin-right: 15px; }
      .footer .rwrap .weibo:hover .icon-weibo {
        background: url("./images/icon.png") no-repeat -97px -205px; }
    .footer .rwrap .open4s {
      font-size: 16px;
      height: 30px;
      line-height: 30px;
      display: inline-block;
      margin: 29px 0 0;
      color: #000; }
      .footer .rwrap .open4s .icon-4s {
        display: inline-block;
        width: 45px;
        height: 30px;
        background: url("./images/icon.png") no-repeat -97px -115px;
        vertical-align: middle;
        margin-right: 15px; }
