@charset "UTF-8";
$color_circle_circlecolor          : #a8f4ea !default;        //颜色
$color_circle_circlehovercolor     : #f3836b !default;        //激活色
$px_0-20_circle_circlewidth        : 12px !default;           //宽度
$px_0-20_circle_circleheight       : 12px !default;           //高度
$px_0-10_circle_circleradius       : 6px !default;            //圆角
$px_0-20_circle_circlebottom       : 10px !default;           //下边距
$num_0-100_circle_circlealpha      : 100 !default;            //透明度