@charset "UTF-8";
$px-mop_carouselContainer_marginh:10px;
$px-mop_carouselContainer_marginv:10px;
$px-mop_carouselContainer_paddingh:10px;
$px-mop_carouselContainer_paddingv:10px;
$px-bs_carouselContainer_borderSize:1px;
$color_carouselContainer_borderColor:#cccccc;
$posa_carouselContainer_borderPosition:center;
$px-bs_carouselContainer_radiusSize:1px;
$posa_carouselContainer_radiusPosition:center;
$color_carouselContainer_backgroundColor:transparent;
$color_carouselContainer_backgroundHoverColor:transparent;
$px-mop_carouselItem_marginh:10px;
$px-mop_carouselItem_marginv:10px;
$px-mop_carouselItem_paddingh:10px;
$px-mop_carouselItem_paddingv:10px;
$px-bs_carouselItem_borderSize:1px;
$color_carouselItem_borderColor:#cccccc;
$posa_carouselItem_borderPosition:center;
$px-bs_carouselItem_radiusSize:1px;
$posa_carouselItem_radiusPosition:center;
$color_carouselItem_backgroundColor:#cccccc;
$color_carouselItem_backgroundHoverColor:#000000;
$px-fs_carouselArrows_width:40px;
$px-fs_carouselArrows_height:40px;
$px-fs_carouselArrows_fontSize:20px;
$color_carouselArrows_fontColor:#467377;
$color_carouselArrows_fontHoverColor:#146843;
$px-mop_carouselArrows_paddingh:10px;
$px-mop_carouselArrows_paddingv:10px;
$px-bs_carouselArrows_borderSize:2px;
$color_carouselArrows_borderColor:#123667;
$color_carouselArrows_borderHoverColor:#ffffff;
$posa_carouselArrows_borderPosition:center;
$px-bs_carouselArrows_radiusSize:200px;
$posa_carouselArrows_radiusPosition:center;
$color_carouselArrows_backgroundColor:#cccccc;
$color_carouselArrows_backgroundHoverColor:#347357;
$posa_carouselArrows_arrowsPosition:right;
$px-mop_carouselArrows_arrowsPositionMop:30px;
$bool_carouselArrows_useGradent:true;
$percent_carouselArrows_gradentStrong:15%;
