@charset "UTF-8";
$color_all_title: #000000  !default;                          //标题颜色
$px_12-30_all_title:16px !default;                          //标题文字大小
$list_left-center-right_all_title:center !default;                          //标题浮动方向
$px_0-50_all_titlebottom:20px !default;                          //标题和图片的距离
$px_0-50_all_imgbottom:20px !default;                          //图片和描述的距离
$px_12-30_all_dis:16px !default;                          //描述文字大小