@charset "utf-8";



$color_all_tablecolor                  :#00ccff !default;               //背景颜色
$color_all_tablecolorhover             :#feb800 !default;               //经过背景颜色
$px_12-30_all_tablefontsize            :12px !default;                  //文字大小
$px_0-10_all_tableborder               :1px !default;                   //边框宽度
$list_normal-bold_all_tableness        :normal !default;                //文字粗细
$num_0-100_all_tablepercent            :100 !default;                   //背景&边框透明度