@charset "UTF-8";
$color_all_bgcolor               : #bfbfbf !default;             //背景色
$color_all_bghovercolor          : #fff !default;          //激活色
$num_0-100_all_bgalpha           : 100 !default;              //透明度
$color_text_textcolor            : #fff !default;             //颜色
$px_10-20_circle_circlewidth     : 30px !default;             //宽度
$px_10-20_circle_circleheight    : 4px !default;             //高度
$px_0-20_circle_circleradius     : 0px !default;              //圆角
$color_circle_circlecolor        : #bfbfbf !default;          //颜色
$color_circle_circlehovercolor   : #fff !default;          //激活色
$px_0-10_circle_circleheight     : 10px !default;             //下边距
