@charset "UTF-8";
$px-mop_carouselContainer_marginh                     : 10px !default;           //容器水平外边距
$px-mop_carouselContainer_marginv                     : 10px !default;           //容器垂直外边距
$px-mop_carouselContainer_paddingh                    : 10px !default;           //容器水平内边距
$px-mop_carouselContainer_paddingv                    : 10px !default;           //容器垂直内边距
$px-bs_carouselContainer_borderSize                   : 1px !default;            //容器边框大小
$color_carouselContainer_borderColor                  : #cccccc !default;        //容器边框颜色
$posa_carouselContainer_borderPosition                : center !default;         //容器边框位置
$px-rs_carouselContainer_radiusSize                   : 1px !default;            //容器圆角大小
$posa_carouselContainer_radiusPosition                : center !default;         //容器圆角位置
$color_carouselContainer_backgroundColor              : transparent !default;    //容器背景色
$color_carouselContainer_backgroundHoverColor         : transparent !default;    //容器激活背景色
$px-mop_carouselItem_marginh                          : 10px !default;           //内容水平外边距
$px-mop_carouselItem_marginv                          : 10px !default;           //内容垂直外边距
$px-mop_carouselItem_paddingh                         : 10px !default;           //内容水平内边距
$px-mop_carouselItem_paddingv                         : 10px !default;           //内容垂直内边距
$px-bs_carouselItem_borderSize                        : 1px !default;            //内容边框大小
$color_carouselItem_borderColor                       : #cccccc !default;        //内容边框颜色
$posa_carouselItem_borderPosition                     : center !default;         //内容边框位置
$px-bs_carouselItem_radiusSize                        : 1px !default;            //内容圆角大小
$posa_carouselItem_radiusPosition                     : center !default;         //内容圆角位置
$color_carouselItem_backgroundColor                   : #cccccc !default;        //内容背景色
$color_carouselItem_backgroundHoverColor              : #000000 !default;        //内容激活背景色
$px-fs_carouselArrows_width                           : 40px !default;           //箭头宽度
$px-fs_carouselArrows_height                          : 40px !default;           //箭头高度
$px-fs_carouselArrows_fontSize                        : 20px !default;           //箭头大小
$color_carouselArrows_fontColor                       : #467377 !default;        //箭头颜色
$color_carouselArrows_fontHoverColor                  : #146843 !default;        //箭头激活颜色
$px-mop_carouselArrows_paddingh                       : 10px !default;           //箭头水平内边距
$px-mop_carouselArrows_paddingv                       : 10px !default;           //箭头垂直内边距
$px-bs_carouselArrows_borderSize                      : 2px !default;            //箭头边框大小
$color_carouselArrows_borderColor                     : #123667 !default;        //箭头边框颜色
$color_carouselArrows_borderHoverColor                : #ffffff !default;        //箭头边框激活颜色
$posa_carouselArrows_borderPosition                   : center !default;         //箭头边框位置
$px-bs_carouselArrows_radiusSize                      : 200px !default;          //箭头圆角大小
$posa_carouselArrows_radiusPosition                   : center !default;         //箭头圆角位置
$color_carouselArrows_backgroundColor                 : #cccccc !default;        //箭头背景颜色
$color_carouselArrows_backgroundHoverColor            : #347357 !default;        //箭头激活背景颜色
$posa_carouselArrows_arrowsPosition                   : right !default;          //箭头位置
$px-mop_carouselArrows_arrowsPositionMop              : 30px !default;           //箭头间距
$bool_carouselArrows_useGradent                       : true !default;           //箭头是否使用渐变
$percent_carouselArrows_gradentStrong                 : 15% !default;            //箭头渐变强度