.carousel-container {
	width: 100%;
	overflow: hidden;
}

#icarousel {
	width: 490px;
	height: 400px;
	position: relative;
	margin: 20px auto;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}

#icarousel img {
	border-radius: 4px;
	border: 8px #333 solid;
	border: 8px rgba(0,0,0,0.5) solid;
	width: 480px;
	height: 360px;
}

/* The Navigation buttons in the Slider */
a.iCarouselNav {
	display: block;
	position: absolute;
	top: 150px;
	width: 40px;
	height: 100px;
	background-image: url(../img/nav_paddles.png);
	z-index: 1000;
	text-indent: -9999px;
	opacity: 0.5;
	-ms-filter: alpha(opacity=50);
	filter: alpha(opacity=50);
}
a.iCarouselNav:hover {
	opacity: 1;
	-ms-filter: alpha(opacity=100);
	filter: alpha(opacity=100);
}

a.iCarouselNav:active {
	background-image: url(../img/nav_paddles_down.png);
}

a#iCarouselPrev {
	left: 20px;
	background-position: -16px 0px
}

a#iCarouselNext {
	right: 20px;
	background-position: 56px 0px;
}