.carousel-container {
	width: 100%;
	overflow: hidden;
}

#icarousel {
	width: 490px;
	height: 400px;
	position: relative;
	margin: 20px auto;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}

#icarousel div.slide {
	border-radius: 4px;
	border: 5px #000 solid;
	width: 480px;
	height: 360px;
}

/* The Navigation buttons in the Slider */
a.iCarouselNav {
	display: block;
	position: absolute;
	top: 178px;
	width: 43px;
	height: 43px;
	background: url(../img/arrows.png) no-repeat;
	z-index: 1000;
	text-indent: -9999px;
}

a#iCarouselPrev {
	left: 10px;
	background-position: left top;
}

a#iCarouselPrev:hover {
	background-position: left bottom;
}

a#iCarouselNext {
	right: 10px;
	background-position: right top;
}

a#iCarouselNext:hover {
	background-position: right bottom;
}