@charset "UTF-8";
$color_all_scdviewtencolor    :#333     !default;     //颜色
$color_all_scdviewtenfcolor   :#fff     !default;     //文字颜色
$px_12-30_all_scdviewtenfsize :12px     !default;     //标题大小
$px_0-10_all_scdviewtenborder :10px     !default;     //边框大小
$color_all_scdviewtenbcolor   :#fff     !default;     //边框
$px_all_promargintop          :10px    !default;               //距顶部距离