@charset "UTF-8";
$bool_use_assist_grid             : true !default;
$bool_use_fluid_grid              : true !default;
$bool_use_equally_grid            : true !default;
$bool_use_metro_grid              : true !default;
$bool_use_grid_phone              : true !default;
$number_assist_grid               : 15 !default;
$width_container_pc               : 1200px !default;
$width_container                  : 960px !default;
$width_container_pad              : 780px !default;
$width_container_phone            : 480px !default;
$width_grid_space_pc              : 20px !default;
$width_grid_space                 : 16px !default;
$width_grid_space_pad             : 13px !default;
$width_grid_space_phone           : 8px !default;
$bool_use_grid_border             : true !default;
$width_grid_border                : 3px !default;
$color_grid_border                : #af8456 !default;
$borderstyle_grid_border          : solid !default;