@charset "UTF-8";
$color_iconintro_backgroundColor      : transparent !default;   //容器背景
$color_iconintro_backgroundHoverColor : transparent !default;   //容器激活背景
$color_iconintro_borderColor          : #000000 !default;   //容器边框颜色
$color_iconintro_hoverBorderColor     : #125ca3 !default;       //容器激活边框颜色
$px-bs_iconintro_borderSize           : 0px !default;           //容器边框大小
$posa_iconintro_borderPosition        : center !default;        //容器边框位置
$px-bs_iconintro_radiusSize           : 0px !default;           //容器圆角大小
$posa_iconintro_radiusPosition        : center !default;        //容器圆角位置
$px-mop_iconintro_paddingv            : 5px !default;           //容器垂直内边距
$px-mop_iconintro_paddingh            : 5px !default;           //容器水平内边距
$px-mop_iconintro_marginv             : 5px !default;           //容器垂直外边距
$px-mop_iconintro_marginh             : 5px !default;           //容器水平外边距
$px-fs_icon_iconFontSize              : 30px !default;          //图标大小
$color_icon_iconColor                 : #00ccff !default;       //图标颜色
$color_icon_iconHoverColor            : #FFE400 !default;       //图标激活颜色
$posha_icon_iconPosition              : center !default;        //图标位置
$animall_icon_navanimate              : tada !default;         //图标激活动画
$color_icon_backgroundColor           : transparent !default;   //图标背景色
$color_icon_backgroundHoverColor      : transparent !default;   //图标激活背景色
$color_icon_borderColor               : transparent !default;   //图标边框颜色
$color_icon_hoverBorderColor          : #00ccff !default;       //图标激活边框颜色
$px-bs_icon_borderSize                : 0px !default;           //图标边框大小
$posa_icon_borderPosition             : center !default;        //图标边框位置
$px-bs_icon_radiusSize                : 5px !default;           //图标圆角大小
$posa_icon_radiusPosition             : center !default;        //图标圆角位置
$px-mop_icon_paddingv                 : 5px !default;           //图标垂直内边距
$px-mop_icon_paddingh                 : 5px !default;           //图标水平内边距
$px-mop_icon_marginv                  : 5px !default;           //图标垂直外边距
$px-mop_icon_marginh                  : 5px !default;           //图标水平外边距
$color_label_labelColor               : #808080 !default;       //描述文字颜色
$px-fs_label_headFontSize             : 24px !default;          //描述标题大小
$px-mop_label_headPaddingTop          : 10px !default;           //描述顶部边距
$posha_label_textPosition             : center !default;        //描述位置
$bool_label_useVPosition              : true !default;         //描述是否并排