@charset "UTF-8";
$px-mop_tab_marginv:0px;
$px-mop_tab_marginh:0px;
$px-bs_tab_borderSize:1px;
$color_tab_borderColor:#cccccc;
$posh_tab_tagPosition:left;
$px-rs_tab_tagRadiusSize:0px;
$posa_tab_tagRadiusPositon:top;
$bool_tabtext_useGrident:true;
$bool_tabtext_useActiveGrident:true;
$percent_tabtext_gridentStrong:5%;
$px-mop_tabtext_paddingv:30px;
$px-mop_tabtext_paddingh:10px;
$px-mop_tabtext_marginv:0px;
$px-mop_tabtext_marginh:0px;
$color_tabtext_defaultColor:#000000;
$color_tabtext_defaultBg:#F2825B;
$color_tabtext_activeColor:#25c648;
$color_tabtext_activeBgColor:#ffffff;
$px-mop_tabcontent_padingv:10px;
$px-mop_tabcontent_padingh:10px;
$color_tabcontent_bgColor:#ffffff;
$px-bs_tabcontent_borderSize:0px;
$color_tabcontent_borderColor:#486357;
$animin_tabcontent_animateIn:fadeInUp;
$animout_tabcontent_animateOut:fadeOutDown;
$time_tabcontent_animateTime:1s;
