@charset "UTF-8";
$px-mop_tab_marginv              :0px !default;        //标签垂直外边距
$px-mop_tab_marginh              :0px !default;        //标签水平外边距
$px-bs_tab_borderSize            :1px !default;        //标签边框大小
$color_tab_borderColor           :#cccccc !default;    //标签边框颜色
$posh_tab_tagPosition            :"left" !default;     //标签位置
$px-rs_tab_tagRadiusSize         :0px !default;        //标签圆角大小
$posa_tab_tagRadiusPositon       :top !default;        //标签圆角位置
$bool_tabtext_useGrident         :true !default;       //文本是否使用渐变
$bool_tabtext_useActiveGrident   :true !default;       //文本激活是否渐变
$percent_tabtext_gridentStrong   :5% !default;         //文本渐变强度
$px-mop_tabtext_paddingv         :30px !default;       //文本垂直内边距
$px-mop_tabtext_paddingh         :10px !default;       //文本水平内边距
$px-mop_tabtext_marginv          :0px !default;        //文本垂直外边距
$px-mop_tabtext_marginh          :0px !default;        //文本水平外边距
$color_tabtext_defaultColor      :#000000 !default;    //文本颜色
$color_tabtext_defaultBg         :#F2825B !default;    //文本背景
$color_tabtext_activeColor       :#25c648 !default;    //文本激活颜色
$color_tabtext_activeBgColor     :#ffffff !default;    //文本激活背景
$px-mop_tabcontent_padingv       :10px !default;       //内容区垂直内边距
$px-mop_tabcontent_padingh       :10px !default;       //内容区水平内边距
$color_tabcontent_bgColor        :#ffffff !default;    //内容区背景色
$px-bs_tabcontent_borderSize     :1px !default;        //内容区边框大小
$color_tabcontent_borderColor    :#486357 !default;    //内容区边框颜色
$animin_tabcontent_animateIn     :fadeInUp !default;       //内容区进入动画
$animout_tabcontent_animateOut   :fadeOutDown !default;       //内容区退出动画
$time_tabcontent_animateTime     :1s !default;         //内容区动画时间