@charset "UTF-8";

$px_12-20_text_textsize                  : 16px !default;             //大小
$color_text_textcolor                    : #f90 !default;             //颜色
$bool_text_textweight                    : false !default;            //是否加粗