
@charset "UTF-8";
@import "compass";
@import "config";
@import "var";

// $color_all_bg                         :      #ac15cb  !default;     //背景色
// $color_all_bghover                    :      #6d0909  !default;     //鼠标滑动背景色  
// $color_all_fonthover                  :      #414141  !default;     //鼠标滑动字体色
// $color_all_font                       :      #030303  !default;     //字体颜色
// $px_20-40_all_height                  :      28px  !default;        //字体高度
// $px_12-30_all_fontsize                :      11px  !default;        //文字大小
// $px_0-20_all_borderradius             :      10px  !default;        //圆角大小
// $bool_all_fontweight                  :      true  !default;        //字体是否加粗
// $percent_0-4_all_apadding             :      0%  !default;        //a标签padding的大小
// $px_0-20px_all_margintopbottom        :      18px !default;        //导航距上下距离

.header {
    height: 72px;
    background:#fff;
    position: relative;
    .logoTitle {
      background: url('./images/logo_title.jpg') no-repeat center;
      display: block;
      width: 146px;
      height: 30px;
      position: absolute;
      top: 22px;
      left: 22px;
    }
  .logo {
    background: url('./images/logo.jpg') no-repeat center;
    display: block;
    width: 93px;
    height: 32px;
    position: absolute;
    top: 19px;
    right: 26px;
  }
}
