@charset "UTF-8";
$px-fs_type_baseFontSize             : 12px !default;        //页面文字大小
$num-amp_type_baseLineHeight         : 1.5 !default;         //页面行间距
$color_type_linkColor                : #256ca3 !default;     //连接颜色
$color_type_linkHover                : #dddddd !default;     //连接鼠标移入颜色
$bool_type_useUnderLine              : false !default;       //连接是否使用下划线
$bool_type_activeUseUnderLine        : false !default;       //连接激活时是否使用下划线
$color_type_ulListRadius             : #dddddd !default;     //列表颜色
$px-bs_type_ulListRadius             : 5px !default;         //列表边框大小
$px-mop_type_ulListRadius            : 5px !default;         //列表偏移量
$bool_type_smartColor                : true !default;        //是否使用智能颜色
$num-amp_type_text                   : 1.5 !default;         //文字放大系数
$num-def_type_text                   : 0.8 !default;         //文字缩小系数
$num-amp_typehead_headLineHeight     : 1.5 !default;         //标题行间距
$px-fs_typehead_head1                : 15px !default;        //H1,H2文字大小
$px-mop_typehead_head1marginv        : 0px !default;         //H1,H2垂直外边距
$px-mop_typehead_head1paddingv       : 10px !default;        //H1,H2垂直内边距
$color_typehead_head1                : #000000 !default;     //H1,H2颜色
$num-hun_typehead_head1              : 300 !default;         //H1,H2文字加粗值
$px-fs_typehead_head3                : 15px !default;        //H3,H4文字大小
$px-mop_typehead_head3marginv        : 0px !default;         //H3,H4垂直外边距
$px-mop_typehead_head3paddingv       : 10px !default;        //H3,H4垂直内边距
$color_typehead_head3                : #000000 !default;     //H3,H4颜色
$num-hun_typehead_head3              : 300 !default;         //H3,H4文字加粗值
$px-fs_typehead_head5                : 15px !default;        //H5,H6文字大小
$px-mop_typehead_head5marginv        : 0px !default;         //H5,H6垂直外边距
$px-mop_typehead_head5paddingv       : 10px !default;        //H5,H6垂直内边距
$color_typehead_head5                : #000000 !default;     //H5,H6颜色
$num-hun_typehead_head5              : 300 !default;         //H5,H6文字加粗值
$percent_typebox_fontAndBg          : 15% !default;          //对比度
$px-mop_typebox_boxPaddingv         : 10px !default;         //垂直内填充
$px-mop_typebox_boxPaddingh         : 10px !default;         //水平内填充
$px-mop_typebox_boxMarginv          : 10px !default;         //垂直外填充
$px-mop_typebox_boxMarginh          : 10px !default;         //水平外填充
$px-rs_typebox_boxBorderRadius      : 5px !default;          //圆角大小