@charset "UTF-8";
$px-bs_imgitem_borderSize                 : 0px !default;            //图片容器边框大小
$color_imgitem_borderColor                : #cccccc !default;        //图片容器边框颜色
$posa_imgitem_borderPosition              : center !default;         //图片容器边框位置
$px-rs_imgitem_radiusSize                 : 0px !default;            //图片容器圆角大小
$posa_imgitem_radiusPosition              : center !default;         //图片容器圆角位置
$px-mop_imgitem_paddingh                  : 3px !default;            //图片容器水平内边距
$px-mop_imgitem_paddingv                  : 3px !default;            //图片容器垂直内边距
$px-mop_imgitem_marginh                   : 3px !default;            //图片容器水平外边距
$px-mop_imgitem_marginv                   : 3px !default;            //图片容器垂直外边距
$color_imgitem_backgroundColor            : transparent !default;    //图片容器背景
$color_imgitem_backgroundHoverColor       : #00ccff !default;    //图片容器激活背景
$animin_cover_coveranimate                : flipInX !default;       //遮罩链接进入动画
$animout_cover_coveranimate               : fadeOut !default;      //遮罩链接退出动画
$def_cover_tansparentStrong               : 0.7 !default;            //遮罩透明度
$bool_cover_useLink                       : true !default;           //遮罩是否显示链接按钮
$bool_cover_useLightBox                   : true !default;           //遮罩是否显示弹出按钮
$px-fs_cover_linkSize                     : 30px !default;           //遮罩链接大小
$px-bs_cover_borderSize                   : 1px !default;            //遮罩链接边框大小
$color_cover_borderColor                  : #ffffff !default;        //遮罩链接边框颜色
$posa_cover_borderPosition                : center !default;         //遮罩链接边框位置
$px-rs_cover_radiusSize                   : 0px !default;            //遮罩链接圆角大小
$posa_cover_radiusPosition                : center !default;         //遮罩链接圆角位置
$px-mop_cover_paddingh                    : 2px !default;            //遮罩链接水平内填充
$px-mop_cover_paddingv                    : 2px !default;            //遮罩链接垂直内填充
$color_cover_backgroundColor              : transparent !default;    //遮罩链接背景色
$color_cover_backgroundHoverColor         : transparent !default;    //遮罩链接激活背景色
$px-fs_imgtext_titleFontSize              : 14px !default;           //图片描述标题大小
$color_imgtext_titleFontColor             : #616161 !default;        //图片描述标题颜色
$color_imgtext_titleFontHoveColor         : #00ccff !default;        //图片描述标题激活颜色