@charset "utf-8";
$color_all_probgcolor             	     	  :#00ccff !default;               //链接背景颜色
$color_all_profontcolor             	      :#fff    !default;               //链接文字颜色
$num_0-100_all_prohoverpercent                :90      !default; 			   //遮罩透明度
$color_text_protextbgcolor             	      :#fff    !default;               //文字背景颜色
$color_text_protextcolor             	      :#777    !default;               //文字颜色
$px_text_protextsize              	   	      :12px    !default;               //文字大小
$px_all_promargintop             	          :10px    !default;               //距顶部距离