@charset "UTF-8";
$px-mop_panelHead_paddingv:10px;
$px-mop_panelHead_paddingh:10px;
$px-mop_panelHead_marginv:0px;
$px-mop_panelHead_marginh:0px;
$color_panelHead_backgroundColor:#f06705;
$color_panelHead_gridentStrong:0%;
$color_panelHead_broderClolor:#ff0000;
$color_panelHead_broderHoverClolor:#080000;
$px-bs_panelHead_borderSize:1px;
$px-rs_panelHead_radiuSize:17px;
$color_panelHead_moreColor:#35414d;
$px-fs_panelHead_titleFontSize:14px;
$color_panelHead_titleFontColor:#ffffff;
$px-mop_panelContent_paddingv:10px;
$px-mop_panelContent_paddingh:10px;
$px-mop_panelContent_marginh:0px;
$color_panelContent_backgroundColor:#bab2a5;
$color_panelContent_broderClolor:#aaaaaa;
$color_panelContent_broderHoverClolor:#aaaaaa;
$px-bs_panelContent_borderSize:1px;
$px-rs_panelContent_radiuSize:10px;
