@charset "UTF-8";
$percent_menu_gradientsize         : 25% !default;            //渐变强度
$bool_menu_usefontshadow           : false !default;          //是否使用菜单阴影
$bool_menu_shadowout               : true !default;          //阴影突出
$bool_menu_usesmartcolor           : false !default;          //使用智能色彩搭配
$animin_menu_navanimate            : flipInX !default;        //进入动画效果
$animout_menu_navanimate           : flipOutX !default;       //移出动画效果                                         
$time_menu_navanimatetime          : 0.5s !default;           //动画速度
$bool_firstnav_usegradient         : false !default;           //是否使用渐变
$bool_firstnav_useline             : true !default;           //是否使用分割线
$px-mop_firstnav_paddingh          : 0px !default;            //水平内边距
$px-mop_firstnav_paddingv          : 0px !default;            //垂直内边距
$px-mop_firstnav_marginh           : 0px !default;            //水平外边距
$px-mop_firstnav_marginv           : 0px !default;            //垂直外边距
$px-rs_firstnav_radiussize         : 0px !default;            //圆角大小
$posa_firstnav_radiuspos           : center !default;         //圆角位置
$px-bs_firstnav_bordersize         : 3px !default;            //边框大小
$color_firstnav_bordercolor        : #00ccff !default;        //边框颜色
$posa_firstnav_borderpos           : bottom !default;         //边框位置
$color_firstnav_bgcolor            : #ffffff !default;        //背景颜色
$px-mop_firstmenu_marginh          : 0px !default;           //水平外边距
$px-mop_firstmenu_marginv          : 0px !default;           //垂直外边距
$px-mop_firstmenu_paddingh         : 20px !default;           //水平内边距
$px-mop_firstmenu_paddingv         : 20px !default;           //垂直内边距
$px-fs_firstmenu_fontsize          : 16px !default;           //文字大小
$bool_firstmenu_fontwidth          : true !default;           //文字是否加粗
$color_firstmenu_fontcolor         : #808080 !default;        //文字颜色
$color_firstmenu_hoverfontcolor    : #ffffff !default;        //鼠标移入时文字颜色
$color_firstmenu_hoverbgcolor      : #00ccff !default;        //鼠标移入时背景颜色
$bool_firstmenu_hovergradient      : false !default;          //鼠标移入时背景是否渐变
$px-bs_firstmenu_borderwidth       : 0px !default;            //鼠标移入时边框宽度
$pos_firstmenu_borderpostion       : bottom !default;         //鼠标移入时边框位置
$color_firstmenu_bordercolor       : #ffffff !default;        //鼠标移入时边框颜色
$bool_firstmenu_useicon            : true !default;           //是否使用图标
$pos_firstmenu_iconpos             : left !default;           //图标位置
$px-fs_firstmenu_icon              : 16px !default;           //图标大小
$px-mop_firstmenu_iconmargin       : 2px !default;           //图标与文字间距
$px-mop_firstmenu_offsetv          : 0px !default;            //激活偏移量
$px-rs_firstmenu_radiussize        : 0px !default;           //菜单圆角大小
$posa_firstmenu_radiuspos          : center !default;         //菜单圆角位置
$px-mop_subnav_paddingh            : 0px !default;            //水平内边距
$px-mop_subnav_paddingv            : 0px !default;            //垂直内边距
$px-mop_subnav_marginh             : 0px !default;            //水平外边距
$px-mop_subnav_marginv             : 0px !default;            //垂直外边距
$bool_subnav_usedialog             : true !default;           //是否使用对话框样式
$color_subnav_bgcolor              : #ffffff !default;        //背景色
$bool_subnav_useline               : true !default;           //是否使用分割线
$px-bs_subnav_bordersize           : 0px !default;            //边框大小
$color_subnav_bordercolor          : #00ccff !default;        //边框颜色
$px-rs_subnav_radiussize           : 0px !default;           //圆角大小
$posa_subnav_radiuspos             : center !default;         //圆角位置
$px-mop_submenu_marginh            : 0px !default;            //水平外边距
$px-mop_submenu_marginv            : 0px !default;            //垂直外边距
$px-mop_submenu_paddingh           : 0px !default;            //水平内边距
$px-mop_submenu_paddingv           : 10px !default;           //垂直内边距
$px-fs_submenu_fontsize            : 14px !default;           //文字大小                                                
$color_submenu_hoverfontcolor      : #ffffff !default;        //鼠标移入时文字颜色
$color_submenu_hoverbgcolor        : #00ccff !default;    //鼠标移入时背景色
$color_submenu_fontcolor           : #808080 !default;        //文字颜色
$px-rs_submenu_radiussize          : 0px !default;            //菜单圆角大小
$posa_submenu_radiuspos            : center !default;         //菜单圆角位置